@use "./terminal.scss";

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    .terminal-container {
        height: 50%;
        max-height: 400px;
    }
}

