html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative
}


#terminal-container {
    height: 100%;
    > div {
        height: 100%;
    }
}

#keyboard-extension {
    position: absolute;
    width: 100%;
    padding: 5px;
    background-color: lightgray;
    left: 0;
    bottom: 0;
}